/* html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
} */

.my-login-page .card{
	border-color: transparent;
	background-color: #ffffff09;
	border-radius: 20px;
	color:#fff;
	box-shadow:inset -1px 1px 9px 6px #ffffff7a;
	border-radius:15px;
	border: 3px solid transparent;
	border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
	border-image-slice: 1;



}




.my-login-page .btn-primary {
    color: #fff !important;
    background-color: #04487518 !important;
    border-color: #044775 !important;
    width: 100%;
	border-radius:10px;
}
.my-login-page .btn-primary:hover{
	background-color: #044875 !important;
}

.my-login-page a {
    color: #888 !important;
    text-decoration: none;
    background-color: transparent;
}
.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 450px;
}



.my-login-page .card.fat {
	padding: 30px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group{
    margin-bottom:1rem;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.my-login-page .form-group a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
