body h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Roboto', sans-serif;
}

/* .admin-layout-container{
    position: relative;
    top: 0;
    height: 100vh;
}

.admin-layout-left{
    overflow: auto;
    max-height: 100%;
    height: 100%;
    background-image:  url('../component/images/sidebar-1.jpg');
    background-position: center center;
    background-size: cover;
    padding: 0px !important;  
}

.admin-layout-right{
    overflow: auto;
    max-height: 100%;
    height: 100%;
    background-color:rgba(203, 203, 210, 0.15);
    padding-left: 0px !important;
    padding-right: 0px !important;
} */

.admin-layout-container{
    display: flex;
    width: 100%;
    /* background-color:red; */
    justify-content:flex-start;
    height:100vh;
}
.admin-layout-container .admin-layout-left{
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    background: url('../component/images/background-sidebar-crop.jpg') no-repeat 0 40%;
}

.admin-layout-container .admin-layout-right{
    /* background-color:yellow; */
    width: 98% !important;
}

/* admin-layout-left */
.admin-layout-left .side-bar .side-bar-top{
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    
}

.admin-layout-left .side-bar{
    text-decoration: none;
    color: #fff !important;
}

.admin-layout-left .side-bar .side-bar-top img{
    margin-right:10px;
    margin-left:10px;
}

.admin-layout-left .side-bar .side-bar-top h2{
    margin-top:10px;
}

/* .admin-layout-left .side-bar .side-bar-content .side-bar-item{
    
} */

.admin-layout-left .side-bar .side-bar-content .side-bar-item:first-child{
    margin-top:9px;
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item{   
    padding: 0px 10px;
    border-radius: 4px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 5px;
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item:hover{
    background-color: #295a81;
}

/* .main-nav-active{
    background: rgba(255, 255, 255, 0.308);
} */

.admin-layout-left .side-bar .side-bar-content .side-bar-item i{
    /* margin-right: 25px; */
    font-size: 20px;
    height:50px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item .side-bar-item-content{
    position: absolute;
    top: 0px;
    left: 60px;
    background-color: #3679AF;
    width: 180px;
    min-width: 180px;
    display: none;
    z-index: 1;
}
.admin-layout-left .side-bar .side-bar-content .side-bar-item:hover .side-bar-item-content{
    display: block;
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item .side-bar-item-content h3{
    font-size:15px;
    margin-left: 10px;
    margin-top: 10px;
}
.admin-layout-left .side-bar .side-bar-content .side-bar-item .side-bar-item-content .side-bar-item-content-link{
    width:100%;
    padding: 3px 0px;
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item .side-bar-item-content .side-bar-item-content-link:hover{
    background-color:#295a81;
}

.admin-layout-left .side-bar .side-bar-content .side-bar-item .side-bar-item-content a{
    color: #fff;
    font-size:15px;
    text-decoration: none;
    margin-left: 10px;
}

.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0px !important;
    padding-bottom:0px !important;

}

.navbar .navbar-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar .navbar-content .navbar-left{
    width: 20%;
}

.navbar .navbar-content .navbar-left h3{
    font-weight: 700;
    margin: 5px 0px;
    font-size: 20px;
    color: #888888;
    line-height:40px;
    padding-left: 10px;
    padding-top: 10px;
}

.navbar .navbar-content .navbar-left i{
    padding: 3px 10px;
    border: 2px solid #cdcfd1;   
    color: #cdcfd1;
    border-radius:3px;
}

.navbar .navbar-content .navbar-left i:hover{
    background-color: #4f9bc5;
    border: 2px solid #4f9bc5; 
    color: #FFF;
}

.navbar .navbar-content .navbar-right-item{
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.navbar .navbar-content .navbar-right-item i{
    font-size:25px;
    color: #888888;
}

.navbar .navbar-right-item-person-content{
    position: relative;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person{
    position: absolute;
    top: 60px;
    right: 0px;
    width: 300px;
    border:1px solid #eef1f1;
    box-shadow:8px 2px 7px 1px #eef1f1;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-title{
    background-image: linear-gradient(to right, #3679AF, #51AADC);
    padding: 10px 0px 10px 10px;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-title p{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 13px;
    color: #fff;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-title p:nth-child(2){
    color: rgba(255, 255, 255, 0.473);
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-text{
    color: #666666;
    font-size: 13px;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-text p{
    padding-left: 10px;
    margin-bottom: 0px;
    padding: 10px;
}

.navbar .navbar-right-item-person-content .navbar-right-item-person .navbar-right-item-person-text p:first-child{
    border-bottom: 1px solid #eef1f1;
}

.offcanvas-start{
    width: 300px !important;
    background:  url("../component/images/background-sidebar.jpg") no-repeat 0 10%;
    color: #fff;
}

.admin-layout-right-container .employees-content .employees-left .employees-admin .table {
    /* height:400px !important; */
    overflow: auto !important;
}

.task-admin .table tr th a{
    color: #8c8c8c !important;
    text-decoration: none;
    text-align: center;
}


.task-admin .table tr td a{
    color: #8c8c8c !important;
    text-decoration: none;
}

.admin-layout-right-container .employees-content .employees-left .employees-admin .table tr:hover, .task-admin .table tr:hover{
    background-color: #dddddd;
}

.admin-layout-right-container .employees-content .employees-left .employees-admin .table .table-selected-employee{
    background-color: #dddddd;
}


/* .admin-layout-right-container .employees-content .employees-left .employees-admin .table tr:focus{
    background-color: #dddddd;
} */

.admin-layout-right-container .employees-content .employees-left .employees-admin .employees-admin-action .employees-admin-action-i i{
    font-size: 20px;
    /* margin-top: 10px; */
    margin-right: 15px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding:10px 15px;
    cursor: pointer;
}

.admin-layout-right-container .employees-content .employees-left .employees-admin .employees-admin-action .employees-admin-action-i i:hover{
    background-color: #9A9A9A;
}

.admin-layout-right-container .employees-left .employees-admin h3{
    text-align: center;
    color: #333333;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 20px;
}

.task-admin .employees-admin h3{
    text-align: center;
    color: #333333;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 20px;
}

.admin-layout-right-container .employees-left .employees-admin-search{
    border-bottom: 1px solid  #333333;
    padding-top: 10px;
    width:330px;
    background-color: rgba(0,0,0,.05);
}

.admin-layout-right-container .employees-left .employees-admin-search i{
    font-size: 20px;
    color: #9A9A9A;
}

.admin-layout-right-container .employees-left .employees-admin-search input{
    background-color: transparent;
    border: none;
    color: #9A9A9A;
    width:300px;
    padding-bottom:10px;
    padding-left: 10px;
}

.admin-layout-right-container .employees-left .employees-admin-search input:focus-visible{
    outline:none !important;
}

.admin-layout-right-container .employees-left .employees-admin-search input::-webkit-input-placeholder{
    font-size: 20px;
    color: #9A9A9A;
}

/* task admin */
.admin-layout-right-container .task-admin-action .task-admin-search{
    border-bottom: 1px solid  #333333;
    padding-top: 10px;
    width:330px;
    background-color: rgba(0,0,0,.05);
}

.admin-layout-right-container .task-admin-action .task-admin-search i{
    font-size: 20px;
    color: #9A9A9A;
}

.admin-layout-right-container .task-admin-action .task-admin-search input{
    background-color: transparent;
    border: none;
    color: #9A9A9A;
    width:300px;
    padding-bottom:10px;
    padding-left: 10px;
}

.admin-layout-right-container .task-admin-action .task-admin-search input:focus-visible{
    outline:none !important;
}

.admin-layout-right-container .task-admin-action .task-admin-search input::-webkit-input-placeholder{
    font-size: 20px;
    color: #9A9A9A;
}

.admin-layout-right-container  .task-admin-action .task-admin-action-i i{
    font-size: 20px;
    /* margin-top: 10px; */
    margin-right: 15px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding:10px 15px;
    cursor: pointer;
}

.admin-layout-right-container .task-admin-action .task-admin-action-i i:hover{
    background-color: #9A9A9A;
}

/* /task admin */

/* admin-layout-left */

/* admin-layout-right */
.navbar .navbar-content .navbar-right{
    width:80%;
    display:flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar .navbar-content .navbar-right-item{
    padding: 13px;
}

.navbar .navbar-content .navbar-right-item a{
    font-size: 20px;
    color: #888888;
    line-height: 40px;
    text-decoration: none;
}

.admin-layout-right-container{
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
}


/* .admin-layout-right-container .employees-left{
    background-color:green;
} */

.admin-layout-right-container .employees-right{
    background-color:#FFFFFF;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 1px solid rgba(0,0,0,.125);
    border-radius:10px;
}


/* .admin-layout-right-container .employees-right .employees-right-card{
    overflow: auto;
    max-height: 100%;
    height: 200px;
    background-image:  url('../container/admin/employees/img/background-person-card.jpg');
    background-position: center center;
    background-size: cover;
    padding: 0px !important;
    position: relative;
    
} */

.admin-layout-right-container .employees-right .employees-right-card{
    position: relative;
    height: 270px;
}

.admin-layout-right-container .employees-right .employees-right-card img{
    width: 100%;
    height: 200px;
    
}

.admin-layout-right-container .employees-right .employees-right-card-person{
    position: absolute;
    top: 45%;
    left:40%;

}

.admin-layout-right-container .employees-right .employees-right-card-person img{
    width:130px;
    height:130px;
    border: 5px solid #FFFFFF;;
    border-radius:100%;
}

.admin-layout-right-container .employees-right .employees-right-card-person i{
    font-size: 20px;
    height:40px;
    width: 40px;
    line-height:40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 60%;
    left:70%;
    border-radius: 50%;
    color: #FFFFFF;
}

.admin-layout-right-container .employees-right .employees-right-form{
    width:96%;
    margin: 0 auto;
}

.admin-layout-right-container .employees-right .employees-right-form .employees-right-item{
    width: 100%;
    margin:10px 0;
}
.admin-layout-right-container .employees-right .employees-right-form .employees-right-item #employee_id:disabled{
    background: #dddddd;
}

.admin-layout-right-container .employees-right .employees-right-form .employees-right-item .employees-right-item-seperate-2{
    width: 49%;
}

.admin-layout-right-container .employees-right .employees-right-form .employees-right-item .employees-right-item-seperate-3{
    width: 46%;
    margin-right: 10px;
}
.admin-layout-right-container .employees-right .employees-right-form .employees-right-item .final-class{
    margin-right: 0px;
}

.admin-layout-right-container .employees-right .employees-right-form label{
    color: #9A9A9A;
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.admin-layout-right-container .employees-right .employees-right-form input{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
}

.admin-layout-right-container .employees-right .employees-right-form select{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
}

.admin-layout-right-container .employees-right .employees-right-form select:focus-visible{
    outline:none;
}


/* task model */
.task-modal .task-modal-content label{
    color: #a4a4a4;
    font-weight: 700;
    font-size: 13px;
    margin-right: 20px;
}

.task-modal-body-right .task-modal-body-right-item i{
    font-size: 30px;
}

.task-modal-body-right .task-modal-body-right-item .task-modal-body-right-item-text{
    text-align: left;
}

.task-modal-body-right .task-modal-body-right-item .task-modal-body-right-item-text i{
    font-size:13px;
    margin-right: 10px;
}

.task-modal-body-right .task-modal-body-right-item .task-modal-body-right-item-text span{
    font-size: 15px;
    color: #a1a1a1;
    margin-bottom: 0px !important;
    font-weight: 400 !important;
    margin-left: 10px;
}

.task-modal-body-right .task-modal-body-right-item img{
    border: 4px solid #0097CC;
}

.task-modal-body-right{
    border: 2px solid #DDDDDD;
}

.task-modal-body-right::-webkit-scrollbar{
    width: 10px;
}

.task-modal-body-right::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

.task-modal-body-right::-webkit-scrollbar-thumb{
    background: #888; 
}

.task-modal-body-right::-webkit-scrollbar-thumb:hover{
    background: #555; 
}
/* /task model */

.home-page video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    
}
/* Home Page */

/* /Home Page */



/* admin-layout-right */


@media (min-width: 576px){
    .modal-dialog{
        max-width:1000px !important;
    } 
}

.css-1g86id8-MuiTreeItem-content{
    padding: 10px 10px !important;
    margin-top: 10px;
}

.css-1g86id8-MuiTreeItem-content.Mui-selected{
    background-color:#285c8e !important;
}

.css-2cq9xd-MuiTreeView-root{
    height: auto !important;
}

.offcanvas-header .btn-close{
    color: #FFFFFF;
}

.btn-close{
    background: transparent url("../component/images/close.png") center/3em auto no-repeat !important;
}

